<!DOCTYPE html>
<html>
  <head>
    <script src="vendor/npm-polymer-elements/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="vendor/npm-polymer-elements/polymer/polymer-mini.html">
    <link rel="import" href="vendor/npm-polymer-elements/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="vendor/npm-polymer-elements/iron-ajax/iron-ajax.html">
    <link rel="import" href="vendor/npm-polymer-elements/paper-item/paper-item.html">
    <link rel="import" href="vendor/npm-polymer-elements/paper-styles/paper-styles.html">
    <link rel="import" href="vendor/npm-polymer-elements/paper-button/paper-button.html">
    <link rel="import" href="vendor/npm-polymer-elements/paper-dialog/paper-dialog.html">
    <link rel="import" href="vendor/npm-polymer-elements/paper-input/paper-input.html">
  </head>

  <body>
    <dom-module name="wifi-list">
      <template>
        <iron-ajax auto id="scan" url="/wifi/scan" handle-as="json" on-response="scanResponse"></iron-ajax>
        <iron-request id="xhr"></iron-request>
        <div class="horizontal layout">
          <div class="flex">
            <template is="dom-repeat" items="{{networks}}">
              <paper-item>
                <div class="horizontal layout" style="width:100%;">
                  <div class="flex">{{item.ssid}}</div>
                  <div class="flex">{{item.signal_level}}</div>
                  <paper-button on-click="openDialog">Connect</paper-button>
                </div>
              </paper-item>
            </template>
          </div>
        </div>
        <paper-dialog id="pwd_dialog">
          <h2>Enter password for {{selected_ssid}}</h2>
          <paper-input autofocus label="Password" type="password" id="password_input"></paper-input>
          <div class="buttons">
            <paper-button dialog-dismiss>Decline</paper-button>
            <paper-button dialog-confirm on-click="connect">Accept</paper-button>
          </div>
        </paper-dialog>
      </template>
      <script>
      window.addEventListener('WebComponentsReady', function(e) {
      Polymer({
        is: 'wifi-list',
        ready: function() {
          this.networks = [];
          this.selected_ssid = '';
        },
        openDialog: function(e) {
          this.selected_ssid = e.model.get('item.ssid');
          pwd_dialog.open();
        },
        scanResponse: function() {
          var response = scan.lastResponse;
          if (response.error) {
            console.log(response);
          } else {
            this.networks = response.networks;
          }
        },
        connect: function() {
          var password = password_input.value;
          var options = {
            url: '/wifi/connect',
            method: 'POST',
            body: {
              ssid: this.selected_ssid,
              password: password
            },
            handleAs: 'json'
          }
          console.log(options);
          xhr.send(options);
          xhr.completes.then(() => {
            console.log(xhr.parseResponse());
          }).catch(() => {
            if (xhr.timedOut) {
              console.log('xhr timed out');
            } else if (xhr.errored) {
              console.log('xhr error');
            } else {
              console.log(xhr.status, xhr.parseResponse());
            }
          });
        }
      });
      });
      </script>
    </dom-module>

    <wifi-list></wifi-list>
  </body>
</html>