.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: 'absolute';
  top: 0;
  left: 0;
}

.root {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 50px;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  color: white;
}

img {
  height: 25%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
